.hero {
    background: url("../images/beer-image.jpeg") 50% no-repeat;
    background-size: cover;
    height: 50vh;  
    background-attachment: fixed;
    color: black;
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
    }